.bigTitle {
  width: 20vw;
  height: 8vh;
  margin: 0 auto;
}

.fullWidth {
  width: 100%;
  height: 100%;
}

.buttonText {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  /* font-family: AlegreyaSans-Medium; */
}

.address {
  padding-top: 100px;
}

.address-icon {
  background-image: url("../image/Artboard 12@2x.png");
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
}

.phone-icon {
  background-image: url("../image/Artboard 13@2x.png");
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
}

.email-icon {
  background-image: url("../image/Artboard 14@2x.png");
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
}

.fb-icon {
  cursor: pointer;
  background-image: url("../image/Artboard 15@2x.png");
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
}

.ins-icon {
  cursor: pointer;
  background-image: url("../image/Artboard 16@2x.png");
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 3rem;
}

.fb-ins {
  padding-top: 2.5rem;
}

.des {
  font-family: AlegreyaSans-Medium;
  margin: auto 0;
  padding: 10px;
  font-size: 2rem;
  margin-bottom: 0;
}

.info-container {
  display: flex;
}
