.total-skill {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.total-skill2 {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}

.total-skill2 > div {
  padding: 0 30px;
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.software {
  margin-top: 3rem;
}

.total-skill > div {
  padding: 0 30px;
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.creatitivity {
  background-image: url("../image/Artboard 24@2x.png");
}

.team-work {
  background-image: url("../image/Artboard 25@2x.png");
}

.flexible {
  background-image: url("../image/Artboard 26@2x.png");
}

.laziness {
  background-image: url("../image/Artboard 27@2x.png");
}

.ilustrator {
  background-image: url("../image/Artboard 28@2x.png");
}

.moho {
  background-image: url("../image/Artboard 29@2x.png");
}

.after-effects {
  background-image: url("../image/Artboard 30@2x.png");
}

.photoshop {
  background-image: url("../image/Artboard 31@2x.png");
}

.slideBodySkill {
  padding: 5rem 10rem;
}
